openapi: 3.1.0
info:
  title: Amazon Verified Permissions
  version: '1.0.0'
  description: Minimal OpenAPI representation of the Amazon Verified Permissions API. Operations follow the AWS RPC-over-HTTP convention.
servers:
  - url: https://verifiedpermissions.amazonaws.com
x-generated-from: https://docs.aws.amazon.com/verifiedpermissions/latest/userguide/
x-generated-by: claude-crawl-2026-05-08
paths:
  /BatchGetPolicy: {post: {summary: BatchGetPolicy, operationId: BatchGetPolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /BatchIsAuthorized: {post: {summary: BatchIsAuthorized, operationId: BatchIsAuthorized, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /BatchIsAuthorizedWithToken: {post: {summary: BatchIsAuthorizedWithToken, operationId: BatchIsAuthorizedWithToken, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateIdentitySource: {post: {summary: CreateIdentitySource, operationId: CreateIdentitySource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreatePolicy: {post: {summary: CreatePolicy, operationId: CreatePolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreatePolicyStore: {post: {summary: CreatePolicyStore, operationId: CreatePolicyStore, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreatePolicyStoreAlias: {post: {summary: CreatePolicyStoreAlias, operationId: CreatePolicyStoreAlias, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreatePolicyTemplate: {post: {summary: CreatePolicyTemplate, operationId: CreatePolicyTemplate, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteIdentitySource: {post: {summary: DeleteIdentitySource, operationId: DeleteIdentitySource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeletePolicy: {post: {summary: DeletePolicy, operationId: DeletePolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeletePolicyStore: {post: {summary: DeletePolicyStore, operationId: DeletePolicyStore, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeletePolicyStoreAlias: {post: {summary: DeletePolicyStoreAlias, operationId: DeletePolicyStoreAlias, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeletePolicyTemplate: {post: {summary: DeletePolicyTemplate, operationId: DeletePolicyTemplate, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetIdentitySource: {post: {summary: GetIdentitySource, operationId: GetIdentitySource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetPolicy: {post: {summary: GetPolicy, operationId: GetPolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetPolicyStore: {post: {summary: GetPolicyStore, operationId: GetPolicyStore, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetPolicyStoreAlias: {post: {summary: GetPolicyStoreAlias, operationId: GetPolicyStoreAlias, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetPolicyTemplate: {post: {summary: GetPolicyTemplate, operationId: GetPolicyTemplate, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /GetSchema: {post: {summary: GetSchema, operationId: GetSchema, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /IsAuthorized: {post: {summary: IsAuthorized, operationId: IsAuthorized, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /IsAuthorizedWithToken: {post: {summary: IsAuthorizedWithToken, operationId: IsAuthorizedWithToken, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListIdentitySources: {post: {summary: ListIdentitySources, operationId: ListIdentitySources, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListPolicies: {post: {summary: ListPolicies, operationId: ListPolicies, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListPolicyStoreAliases: {post: {summary: ListPolicyStoreAliases, operationId: ListPolicyStoreAliases, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListPolicyStores: {post: {summary: ListPolicyStores, operationId: ListPolicyStores, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListPolicyTemplates: {post: {summary: ListPolicyTemplates, operationId: ListPolicyTemplates, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListTagsForResource: {post: {summary: ListTagsForResource, operationId: ListTagsForResource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /PutSchema: {post: {summary: PutSchema, operationId: PutSchema, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /TagResource: {post: {summary: TagResource, operationId: TagResource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UntagResource: {post: {summary: UntagResource, operationId: UntagResource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateIdentitySource: {post: {summary: UpdateIdentitySource, operationId: UpdateIdentitySource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdatePolicy: {post: {summary: UpdatePolicy, operationId: UpdatePolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdatePolicyStore: {post: {summary: UpdatePolicyStore, operationId: UpdatePolicyStore, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdatePolicyTemplate: {post: {summary: UpdatePolicyTemplate, operationId: UpdatePolicyTemplate, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
